<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835244119806-83j7lcfd3mcuhk2po8ikm1toltsvg8of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835244119806-83j7lcfd3mcuhk2po8ikm1toltsvg8of</string>
	<key>API_KEY</key>
	<string>AIzaSyC87QNVn_cv-dgNTusvbfz5h4yKCpb3PwY</string>
	<key>GCM_SENDER_ID</key>
	<string>835244119806</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tdh.Test-Application</string>
	<key>PROJECT_ID</key>
	<string>notes-a4a58</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-a4a58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835244119806:ios:710755707844fba3c0b7af</string>
	<key>DATABASE_URL</key>
	<string>https://notes-a4a58.firebaseio.com</string>
</dict>
</plist>